
<footer>
    <div class="wrapper">    
       <p><a class="nom" href="mailto:tahiri.yassine@courrier.uqam.ca">Tahiri Yassine </a></p>
        <p class="message">Ce site est développé dans le cadre du cours
        <a class="footer" href="http://www.etudier.uqam.ca/cours?sigle=INF3190" target="_self">INF3190</a> de
        <a class="footer" href="http://www.uqam.ca" target="_self">UQAM</a>   
        </p>
    </div>
</footer>