

<section id="Gerant">
    <section id="bienvenue">
        <div class="wrapper">
            <h3> Bienvenue sur notre boutique en ligne!<br>pour savoir plus d'information sur <br><a class="covid-19" href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/" target="_self">Covid-19</a></h3> 
            -
            <a href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/" class="button-1">covid</a>
        </div>
    </section>
    <section id="formation">
        <div class="wrapper">
            <h3> Important</h3>
            <p>Suite à la pandémie de <a class="covid" href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/" target="_self">Covid-19</a> , 
                les décisions prises par les autorités gouvernementales ne permettent plus de poursuivre les activités normalement.<br><br>
                Ce site permettrait à nos clients de passer une commande en ligne, envoyer le paiement Interac par courriel et venir ramasser le colis devant 
                la boutique selon l’horaire affiché pour éviter d’avoir une file d’attente devant le magasin.<br><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </section>
</section>