<section id="Commande">
    <section id="bienvenue">
         <div class="wrapper">
              <h3><strong>  Merci de choisir notre boutique pour vos achats</strong><br>on l'apprécie énormément.</h3> 
             <a href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/" class="button-1">covid-19</a>
        </div>
    </section>

    
</section>