
<section id="Paiment">
    <p> 
        <br><br>Pour le paiement Interac Voila notre courriel<br> <strong>QUEBEC_INFORMATIQUE@HOTMAIL.COM</strong>
        <br><br>la question à choisir doit mentionner le numéro de la commande et la réponse doit correspondre à l’identifiant du premier article de la commande.
    </p>
</section>