
<section id="Contact">
    <section id="page2">
        <div class="wrapper">
           
             <h3><strong>pour savoir plus d'information sur </strong><a class="covid" href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/" target="_self">Covid-19</a>.
            </h3>
        </div>
</section>
<section id="formation">
        <div class="wrapper">
            <h3><strong> Nos coordonnées</strong></h3>
            <p>Nous sommes disponible 24/24,si vous avez des questions, n'hésitez pas à nos contacter<br>Adresse:  0000 Saint Cathrine (Montreal) H1H 1H1<br>Téléphone:  (514)-441-2273<br>Courriel:  quebec_informatique@hotmail.com
                <br><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
</section>