.magaziner 
{
    width: 940px;
    margin: 0 auto 50px auto;
    padding: 0 100px 30px;
    border-radius:15px 15px 15px 15px;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
    -o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999));
	background-color :-moz-linear-gradient(top, #ffffff 0%, #999 100%);
	
}

button
{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius:  5px;
}
button:hover
{
     background: #02b8dd;
}

.status 
{
    width: 940px;
    margin: 0 auto 50px auto;
    padding: 0 100px 30px;
    border-radius:15px 15px 15px 15px;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
    -o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999));
	background-color :-moz-linear-gradient(top, #ffffff 0%, #999 100%);
	
}
