<div class="page">
  <app-achat></app-achat>
  <app-index></app-index>
  <app-gerant></app-gerant>
  <app-magasiner></app-magasiner>
  <div class="magaziner">
  <div *ngIf="afficheListe">
    <ul>
      <li *ngFor="let articl of article ">
    <tr>
      <th>id</th>
      <th> {{  articl.id}}</th>
    </tr>
    <tr>
    <tr>
      <td>Nom d'article:</td>
      <td> {{  articl.nom}} </td>
    </tr>
    <tr>
      <td> La marque :</td>
      <td> {{  articl.marque}} </td>
    </tr>
    <tr>
      <td>  Le prix :</td>
      <td> {{  articl.prix}} </td>
    </tr>
    <tr>
      <td> Description : </td>
      <td> {{  articl.description}} </td>
    </tr>
    <tr>
      <td> Photo d'article : </td>
      <td> <img src="{{ articl.image  }}"  style= "height:50px;width:50px "/> </td>
    </tr>
  </li>
</ul>
  </div>
  <button (click)="affiche()"> Affichier</button>
  </div>
  <app-paiment></app-paiment>
  <app-contact></app-contact>
  <app-commande></app-commande>
  <app-commande-formule></app-commande-formule>
  <section id="formul" >
    <div class="wrapper">
        <h3><strong> Formulaire </strong></h3>
        <form >
            <div class="info-container" >
                <div >
                    <ul>
                        <li>
                            <label for="id">N° de commmande  </label>
                            <input id="numéroComande" type="text"  placeholder="Entré votre numéro" [formControl]=" " >
                        </li>
                    </ul>
                </div> 
                    <ul>
                        <li>
                            <button (click)="affichee()"> Chercher </button>
                        </li>
                    </ul>
            </div>
        </form>
    </div>
  </section>
  <div class= "status"  *ngIf="afficheListee">
    <h2>Statut de votre commande</h2>
      <ul >
        
          <li *ngFor="let art of getTous()">
        <tr>
          <th>Numéro d'article: </th>
          <th> {{ art.numero}}</th>
        </tr>
        <tr>
        <tr>
          <td>Votre id</td>
          <td> {{ art.id}} </td>
        </tr>
        <tr>
          <td> Prénom  :</td>
          <td> {{ art.prenom}} </td>
        </tr>
        <tr>
          <td> ramassage :</td>
          <td> {{ art.ramassage}} </td>
        </tr>
        <tr>
          <td> statut : </td>
          <td> {{ art.statut}} </td>
        </tr>
      </li>
      </ul>
  </div>
  <app-footer></app-footer>
  </div>
