
<header> 
    <div class="wrapper">                           
              <a href="nomopageqi.html"><img src="assets/images/logo.png" href="nomopageqi.html"></a>     
        <nav>
            <ul>
               <li><a routerLink="/gerant"    href="#Gerant"    id="gerant" >A propos</a></li>
               <li><a routerLink="/contact"   href="#Contact"   id="Cont" >Contact</a></li>
               <li><a routerLink="/moyen"     href="#Magasiner" id="moyen"> Magasiner</a></li>
               <li><a routerLink="/paiment"   href="#Paiment" id="paiment"> Paiment</a></li>
               <li><a routerLink="/commande"  href="#Commande"  id="Comm">Commande</a></li>  
               
                      
           </ul>
        </nav>
    </div>
</header>