/**general*/
*
{
    margin: 0;
    padding: 0;
    
    
}
html
{
    
    background-color: #F0F8FF;
   
}
body 
{
    font-family: Arial,sans-serif;
    font-size: 15px;
    
    
}

h1, h2,h3,h4
{
  color: #444;  
}

h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2
{
    font-size: 55px;
}
h3
{
    font-size: 30px;
}
h4
{
    font-size: 24px;
}
p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #444;
}

.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.wrapper img
{
     margin-top: 30px;
     position: fixed;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
    
}
header .wrapper h3
{
    margin-top: 50px;
    float: right;
    width: 100px;
    
    height: 30px;
    text-align:center;
	text-decoration:none;
	font-weight:900;
	font-size:15px;
	line-height:25px;  
    position: absolute;
    border-bottom:solid 6px #c63;
}
header .wrapper h3:hover
{
    background-color:#00ced1;
}

#bienvenue
{
   width: 940px; 
     margin: 0 auto;
   height: 580px;
    background: url('images/laptop.jpg') center;
    border-radius:  15px;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
}
#bienvenue h3
{
   font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 40px 0 40px 0;
    margin-bottom: 10px;
    
}
/*gerant*/
#page1
{
    width: 940px; 
    margin: 0 auto;
    height: 580px;
    background: url('images/gerantt.png') center;
    border-radius:  15px;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
}
#page1 h3
{
    color:floralwhite;
    text-align: center;
    
    
}   
#page1 p
{
    color:aqua;
    text-align: center;
    margin-top: 30px;
    
    
} 
#page1 .covid
{
    color:darkorange;
    text-align: center;
    
    
} 
.button-1
{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius:  5px;
}
.button-1:hover
{
     background: #02b8dd;
}
#formation
{
    height: 450px;
    margin: 30px auto;
    padding: 0 10px;
   
}
#formation h3
{
   font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    
    
}
#formation .covid
{
    color: crimson;
}
#formation p
{
   font-weight: normal;
    text-transform: uppercase;
    height: 250px;
    margin: 50px auto;
     font-family: "Lucida Console", Courier, monospace;
    color: black;

}
/* pop*/
.popup {
   position: relative;
 
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
     float: right;  
    width:350px;
     margin-top: 20px;
    
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
    height: 40px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0 ;
  position: absolute;
  z-index: 1;
    top: 10%;
  bottom: 100%;
  left: 40%;
 margin-top: 30px;
    float: right;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 30%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}


@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/*contact*/
#cordonne .wrapper
{
    height: 200px;
    margin: 30px auto;
    padding: 0 10px;
    
   
}
#cordonne address
{
    height: 150px;
    margin: 30px auto;
    padding: 0 10px;
   
   
   
}

/* header*/

header 
{
    height: 120px; 
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    
}
header nav
{
    float: right;   
    margin-top: 30px;
    
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 10px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 10px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 10x;
	-o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 10px;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 10px;
    -moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	-o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}
header nav ul li
{
    float:left;
}
/*menu*/

nav 
{
   position: fixed;
   right: 0;
   top: 40%;
   width: 10em;
   margin-top: -2.5em;
   list-style-type:none;
   background-color: honeydew;
   
}
nav ul li a {
	display:block;
	width:100px;
	height:40px;
	text-align:center;
	text-decoration:none;
	font-weight:900;
	font-size:15px;
    line-height:25px;
    
    
}
nav ul li a:link, nav ul li a:visited {
	color:#333;
	background-color:transparent;
}
nav ul li a:hover {
    background-color:#00ced1;
    width: 10em;
    -moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	-o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}

nav #gerant {
    border-bottom:solid 6px #c63;
    width: 10em;
    -moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	-o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}
nav #Cont {
    border-bottom:solid 6px #393;
    width: 10em;
    -moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	-o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}

nav #Comm {
    border-bottom:solid 6px #069;
    width: 10em;
    -moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	-o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}
nav #paiment{
    border-bottom:solid 6px red;
    width: 10em;
    -moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	-o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}

nav #moyen{
    border-bottom:solid 6px gold;
    width: 10em;
    -moz-border-radius: 30px 0 0 30px;
	-webkit-border-radius: 30px 0 0 30px;
	-o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
} 

#bienvenue h4
{
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0 40px 0;
    color:chartreuse;
}

/*footer */

footer
{
    height: 150px;
    background-color: #f7f7f7;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    -moz-border-radius: 30px 30px 0 0;
	-webkit-border-radius: 30px 30px 0 0;
	-o-border-radius: 30px 30px 0 0;
    border-radius: 30px 30px 0 0;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;;
	-o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;;
	box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
}
footer p
{
     text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
     color: black;
}
footer .wrapper .nom
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color :darkblue;
    
}

#page2
{
  width: 940px; 
     margin: 0 auto;
   height: 580px;
    background: url('images/contact.png') center;
    border-radius:  15px;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	-o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
	box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px;
}
#page2 h3
{
    color:aqua;
    text-align: center;
    padding-top: 50px;
     

} 
#page2 .covid
{
    color:darkorange;
    text-align: center;
} 
#cordonnes p
{
    display:block;
	
	text-align:center;
	text-decoration:none;
	font-weight:900;
	font-size:15px;
	line-height:40px;
}
#formul
{
    height: 200px;
    margin-top: 30px;
    
   
   

}

#formul .info-container
{
     margin-top: 20px;
}
#formul .info-container label
{
    float:left;
	width:200px;
	text-align:right;
    padding-right:25px;
   
    
}

#formul .info-container ul
{
    list-style-type:none;
    
}
#formul .info-container li
{
    font-size:15px;
	height:50px;
	width:600px;
	background:#96F;
	background: rgba(85, 0, 125, .3);
	border-color:#99F;
	border-color: rgba(85, 0, 125, .6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	line-height: 25px;
	padding: 2px 0 2px 50px;
    margin-bottom: 1px;
    
}
#formul .info-container button {
  

    display: block;
    width: 90px;
    height: 40px;
    background: #ff7a00;
    color: #fff;
    font-size: 20px;
    margin-left:150px;
    margin-top: 5px;
   
    text-align: center;
    border-radius:  5px;
}
#formul .info-container button:hover
{
     background: #393;
}


#Magasiner 
{
    width: 940px;
    margin: 0 auto 10px auto;
    padding: 0 100px 30px;
    text-align:center;
	text-decoration:none;
	font-weight:900;
	font-size:15px;
	line-height:25px; 
	
}

#Paiment
{
    width: 940px;
    margin: 0 auto 50px auto;
    padding: 0 100px 30px;
    border-radius:15px 15px 15px 15px;
    box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-moz-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	-webkit-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
    -o-box-shadow:rgba(50, 50, 50, 0.5) 20px 10px 20px 20px;
	background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999));
    background-color :-moz-linear-gradient(top, #ffffff 0%, #999 100%);
    text-align:center;
	text-decoration:none;
	font-weight:900;
	font-size:15px;
	line-height:25px; 
}




